{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}

<!-- ********************************* BEGIN Page Content ********************************** -->
<article>
  <div class="resize-content">
    <h1>{{ name }}</h1>
    {{ drupal_block('page_options') }}

    <div id="cgvBody">
      {{ content.body }}

      {% set infographic_desktop_uri = file_url(content.field_infographic['#items'].entity.uri.value) %}
      {% set infographic_mobile_uri = null %}

      {% if content.field_infographic_mobile['#items'].entity.uri.value is not empty %}
        {% set infographic_mobile_uri = file_url(content.field_infographic_mobile['#items'].entity.uri.value) %}
      {% endif %}

      <figure class="image-center-full centered-set">
        <div class="centered-element">
          
        {% if infographic_mobile_uri is not empty %}
          <picture>
              <source srcset="{{infographic_mobile_uri}}" media="(max-width: 768px)">
              <source srcset="{{infographic_desktop_uri}}" media="(min-width: 769px)">
           {{content.field_infographic}}
          </picture>
        {% else %}
          {# if no infographic mobile, just render as an image #}
          {{ content.field_infographic }}
        {% endif %}

        </div>
      </figure>

      <footer>
        {{ contentPageMacros.displayDates(media,content) }}
        {% if media.field_public_use.value == '1' %}
          {{ drupal_region('public_use') }}
        {% endif %}
      </footer>
    </div>
  </div>
</article>
